#team{
 text-align: center;
}
.about-content > h1{
  text-align: center;
  font-weight: 10px;
}
.fa-heart {
  color: red;
}
.list-inline{
}
li > img {
  position: flex;
  width: 200px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  vertical-align: middle;
  margin: 30px;

}
h3{
  font-size: 10px;
  opacity: 0.7;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 10px;
}
h1 {
  font-size: 30px;
}
a{
  color: black;
  text-align: center;
}
